<h1 class="m-16 text-5x1">ventas</h1>

<div class="container">
        <div class="row-mt-5">
            <div class="col-md-7">
                <table class="table table-bordered table hover">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>DPI</th>
                            <th>Id servicio</th>
                            <th>Precio</th>
                            <th>Fecha</th>
                            <th>Accion</th>
                        </tr>
                    </thead>
                
                <tbody>
                        {{#if data}}
                            {{#each data }}
                                <tr>
                                    <th>{{num}}</th>
                                    <th>{{dpi}}</th>
                                    <th>{{id_servicio}}</th>
                                    <th>{{precio}}</th>
                                    <th>{{fecha}}</th>
                                    <th>
                                        <a href="/ventas/delete/{{id_servicio}}"  class="btn btn-danger"> Eliminar</a>
                                        <a href="/ventas/update/{{id_servicio}}"  class="btn btn-info"> Editar</a>
                                    </th>
                                </tr>
                            {{/each}}
                        {{/if}}
                </tbody>
                </table>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="col-md-5">
                        <form action="/ventas/add" method="post">
                            <div class="form-grup">
                                <input type="number" name="dpi" placeholder="Dpi" class="form-controll">
                            </div>
                            <div class="form-grup">
                                <input type="number" name="id_servicio" placeholder="Id servicio" class="form-controll">
                            </div>
                            <div class="form-grup">
                                <input type="number" name="precio" placeholder="Precio" class="form-controll">
                            </div>
                            <div class="form-grup">
                                <input type="date" name="fecha" placeholder="Fecha" class="form-controll">
                            </div>
                            
                            <button type="submit" class="btb btn-primary">Ingresar  venta</button>
                        </form>
                    </div>
                </div>  
            </div>
        </div>
    </div>